
  <div class="profileWrapper pdtp30">    
	<div class="row">
      <div class="col-md-12"> 
	  <h6 style="padding: 0 0 10px 0; border-bottom: 1px dashed #cfcfcf; margin-bottom: 20px;text-transform:none;" >Product Summary</h6>
	  </div>
     
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" style="background: #00a4e4; color: #fff;">Active</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Inactive Policy</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Pending to review</button>
          </div>
        </div>
      </div>
      <div class="posRel">
        <div class="actBtn">
          <div class="col-md-3" style="padding: 0;text-align: right;line-height: 42px;"> <i class="fa fa-filter " aria-hidden="true"></i>
            <label>Filter</label>
          </div>
          <div class="col-md-7 pdrg0">
            <label>
              <button class="orange-btn" >Activate Now</button>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" style=" font-size: 14px;  color: #00a4e4; line-height: 40px;">
<!--        <label>Set up auto renewal for earning extra 10% off of the premium </label>-->
      </div>
    </div>
    <div class="row" style="padding: 30px 0;">
      <div class="col-md-12">
        <table class="table table-bordered table-responsive">
          <thead style="background: #00a4e4; color: #fff;">
            <tr>
              <th>Policy Type</th>
              <th> Policy ID</th>
              <th>Policy Name</th>
              <th>Policy Issue Date</th>
              <th>Effective Date from</th>
              <th>Effective Date To</th>
              <th> Status</th>
              <th>Policy Details</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="policyJson in policyTableContent">
              <td>{{policyJson.policyType }}</td>
              <td>{{policyJson.policyId }}</td>
              <td>{{policyJson.policyName }}</td>
              <td>{{policyJson.policyIssueDate }}</td>
              <td>{{policyJson.policyFromDate }}</td>
              <td>{{policyJson.policyToDate }}</td>
              <td>{{policyJson.policyStatus }}</td>
              <td><i class="fa fa-download" aria-hidden="true"></i><a href="javascript:;"> {{policyJson.policyDetails}}</a></td>
              <td><a href="javascript:;"> {{policyJson.policyAction }}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <div class="row policyCol">
      <div class="col-md-6"> </div>
      <div class="col-md-6">
        <button class="blue-btn col-md-offset-6" ng-click="goToProductDetails()">Renew Now</button>
      </div>
    </div> -->
  </div>
  
  <!--
            <h5>Exciting Plan details</h5><br/>
            <span>#ID:7493553939</span><br/>
            <span>Home Insurance</span><br/>
            <span>Effective from 1-September-2017</span><br/>
            <a href="javascript;;">View all<i class="fa fa-plus" aria-hidden="true"></i></a>
--> 

