<style>
    .policyCol{
        margin: 20px 76px;
    } 
    .policyCol button{
        font: normal 19px "AIASans", "Calibri", sans-serif;
    }
</style>    
<div class="topnav global-nav parbase">
    <div class="navmenu-backdrop"></div>
    <div class="navbar navbar-default navbar-fixed">
        <div class="navbar-slim">
            <div class="navbar-title-slim">AIG</div>
        </div>
        <div class="navbar-one">
            <button type="button" class="navbar-btn hide-sd-up" data-toggle="offcanvas" data-target=".navmenu">
                <svg  class="icon icon-xs hide-on-fallback " role="img"> 
                </svg> </button>
            <a class="navbar-brand" href="index.html" tabindex="99"> <svg  class="icon icon-s hide-on-fallback visible-xs-inline-block" role="img">
                <g>
                <image class="icon icon-s visible-xs-inline-block" src="../content/dam/aia/logos/aiawhite-logo.png" alt="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#"></image>
                </g>
                </svg> <img class="navbar-brand-img hidden-xs mrlt50neg" src="../content/images/aig-logo-white.png"/> </a>
            <ul class="nav navbar-nav" data-user-menu="individual">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle h6" data-hover="dropdown" data-delay="100" data-hover-delay="300" style="width:100px" tabindex="100">Personal</a>
                    <div class="dropdown-menu">
                        <div class="container-fluid margin-bottom-s">
                            <div class="row">
                                <div class="col-sm-9 border-left margin-top-l">
                                    <div class="row">
                                        <div class="col-sm-3 pdrg0">
                                            <ul class="list-unstyled">
                                                <li class="list-ele"> <a href="#" onclick="trackWebActivity('Motor Insurance Viewed','Home Page','motor-insurance.html')" tabindex="110">
                                                        <div class="thumbnail">
                                                            <image class="icon icon-s " src="term-life-insurance/images/icon1.png" alt="undefined" ></image>
                                                        </div>
                                                        <div class="content">
                                                            <h6 class="p3">Motor Insurance</h6>
                                                        </div>
                                                    </a> </li>
                                                </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 pdrg0">
                                            <ul class="list-unstyled">
                                                <li class="list-ele"> <a href="#" onclick="trackWebActivity('Travel Insurance Viewed','Home Page','travel-insurance.html')"  tabindex="140">
                                                        <div class="thumbnail">
                                                            <image class="icon icon-s " src="term-life-insurance/images/icon6.png" alt="undefined"></image>
                                                        </div>
                                                        <div class="content">
                                                            <h6 class="p3">Travel Insurance</h6>
                                                            </d
                                                            iv>
                                                    </a> </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 pdrg0">
                                            <ul class="list-unstyled">
                                                <li class="list-ele"> <a href="#" onclick="trackWebActivity('Health Insurance Viewed','Home Page','health-insurance.html')"  tabindex="110">
                                                        <div class="thumbnail">
                                                            <image class="icon icon-s " src="term-life-insurance/images/icon1.png" alt="undefined" ></image>
                                                        </div>
                                                        <div class="content">
                                                            <h6 class="p3">Health Insurance</h6>
                                                        </div>
                                                    </a> </li>
                                                </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 pdrg0">
                                            <ul class="list-unstyled">
                                                <li class="list-ele"> <a href="#"onclick="trackWebActivity('Home Insurance Viewed','Home Page','home-insurance.html')" tabindex="110">
                                                        <div class="thumbnail">
                                                            <image class="icon icon-s " src="term-life-insurance/images/icon1.png" alt="undefined" ></image>
                                                        </div>
                                                        <div class="content">
                                                            <h6 class="p3">Home Insurance</h6>
                                                        </div>
                                                    </a> </li>
                                                </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle h6" data-hover="dropdown" data-delay="100" data-hover-delay="300" style="width:100px" tabindex="200">Corporate</a> </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle h6" data-hover="dropdown" data-delay="100" data-hover-delay="300" style="width:100px" tabindex="300"> Rural</a></li>
                <li class="dropdown"> <a href="#" tabindex="9500" class="dropdown-toggle h6" data-hover="dropdown" data-delay="100" data-hover-delay="300" style="width:100px">Agents</a></li>
            </ul>
            <div style="float:right;height: 88px;line-height: 88px;">
                <a href="cart.html" ><img class="icon" src="../content/images/cart.png" style="margin-right: 20px;></a></
                                          <a href="#" ><img class="icon" src="../content/images/login.png"></a>
            </div>
        </div>
        <div class="search-suggest-box" data-id="search-suggest-box1"> </div>
    </div>
    <div class="navbar-fixed-spacer"></div>
    <div id="callOption0"  class="modal fade aia-modal" data-target="">
        <div class="modal-dialog partial-screen-modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-t2">
                    <button class="modal-header-btn pull-left" data-dismiss="modal"><svg class="icon icon-xs hide-on-fallback" title="Dismiss" role="img">

                        <title>Dismiss</title>
                        <image class="icon icon-xs icon-fallback" src="../content/dam/aia/icons/glyph/closewhite-glyph.png" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#"></image>

                        </svg></button>
                    <h6 class="w text-center">Get in touch</h6>
                </div>
                <div class="modal-container padding-top-3xl"></div>
            </div>
        </div>
    </div>
    <h3 class="policyCol">PRODUCT DETAILS</h3>
    <div class="row policyCol">
       <div class="row">
        <div class="col-md-12">
       <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Active</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">InActive</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Pending to Review</button>
  </div>
</div>
     </div>
     <div class="row">
                    <div class="col-md-6">
                        
                    </div>
                    <div class="col-md-6">
                        <i class="fa fa-filter " aria-hidden="true"></i>
                    <label>Filter</label>
                    </div>
                    
                    
                    </div>
                    
                                 
                    <div class="row">
                    <div class="col-md-6">
                        
                        
                    </div></div>
                        
                    <div class="row">
                    <div class="col-md-6">
                        <label>Set up auto renewal for earning extra 10% off of the premium </label> 
                    </div>
                      <div class="col-md-6">
                        <label> <button class="btn btn-warning col-md-offset-6" ng-click="goToShoppingCart()">Activate Now</button>       </label> 
                    </div>
                    </div>
                    </br>
                    </br>
                     <div class="row">
                    <div class="col-md-12">
                    <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Policy Type</th>
                            <th> Policy ID</th>
                            <th>Policy Name</th>
                            <th>Policy Issue Date</th>
                            <th>Effective Date from</th>
                            <th>Effective Date To</th>
                            <th> Status</th>
                            <th>Policy Details</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="policyJson in policyTableContent">
                            <td>{{policyJson.policyType }}</td>
                            <td>{{policyJson.policyType }}</td>
                            <td>{{policyJson.policyType }}</td>
                            <td>{{policyJson.policyType }}</td>
                            <td>{{policyJson.policyType }}</td>
                            <td>{{policyJson.policyType }}</td>
                            <td>{{policyJson.policyType }}</td>
                            <td><i class="fa fa-download" aria-hidden="true"></i> {{policyJson.policyType }}</td>
                            <td>{{policyJson.policyType }}</td>
                        </tr>
                    </tbody>
                    </table>
                    </div>
                    </div>
<!--
            <h5>Exciting Plan details</h5><br/>
            <span>#ID:7493553939</span><br/>
            <span>Home Insurance</span><br/>
            <span>Effective from 1-September-2017</span><br/>
            <a href="javascript;;">View all<i class="fa fa-plus" aria-hidden="true"></i></a>
-->
        </div>
        
                    </div>
                    </br>
                    </br>
                    </br>
<!--
    <div class="row policyCol">
        <div class="col-md-4 ">
            <h5>RENEW PLAN </h5><br/>
            <span>#ID:7493553939</span><br/>
            <span>Home Insurance</span><br/>
            <span>Effective from 1-September-2017</span><br/>
            <a href="javascript;;">View all<i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
        <div class="col-md-4 ">

        </div>
        <div class="col-md-4 ">

        </div>
    </div>
-->
    <div class="row policyCol">
        <div class="col-md-6">
           
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary col-md-offset-6" ng-click="goToShoppingCart()">Buy Now</button>       
        </div>
    </div>
</div>