<style>
    .policyCol{
        margin: 20px 76px;
    } 
    .policyCol button{
        font: normal 19px "AIASans", "Calibri", sans-serif;
    }
    
    
    .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>   
    
     <div class="profileWrapper pdtp30" id="profileInfo">
	 <div class="row ">
      <div class="col-md-12">
        <h6 class="heading">My Profile</h6>
      </div>
    </div>
      <div class="row mrtp20">
        
                    <div class="col-md-4 col-sm-4 profileClassiBox">
                        <div class="tab"><a href="javascript:void(0)" class="transparent-btn">Personal Information</a></div>
                        <div class="tab"><a href="javascript:void(0)" class="blue-btn">Account & Notification Setting</a></div>
                        <div class="tab"><a href="javascript:void(0)" class="transparent-btn">Auto Renewal & payment setting</a></div>
                        
                    </div>
                    <div class="col-md-8 col-sm-8">                       
                           <div class="title" >
                            Change Your Password
                           </div>
                     
                        <div class="row form">
                    <div class="col-md-4 col-sm-4" >
                        <label>Existing password</label>
                    </div>
                    <div class="col-md-8 col-sm-8" >
                        <input type="text" name="Existing password" >
                    </div>
                    </div>
                    
                      <div class="row form">
                    <div class="col-md-4 col-sm-4" >
                        <label>New pasword</label>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <input type="text" name="New password" >
                    </div>
                    </div>
                    
                      <div class="row">
                    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-5 col-sm-7 col-sm-offset-4 pd0prjP" >                    
                     <button class="orange-btn" ng-click="goToDashboardCongrats()">Update Password</button>
                       </div>
                    
                    </div>
                    
                    <div class="row">
                           <div class="col-md-12 title1" >
                             Policy Document Notification
                           </div>
                       </div>
                       <div class="row form">
                           <div class="col-lg-4 col-md-5 col-xs-8" >
                    <label>Email Notification</label>
                           </div>
                           <div class="col-lg-8 col-md-7 col-xs-4 pd0prjP" >
                               <label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label> 
                           </div>
                           </div> 
                           
                        <div class="row form">
                           <div class="col-lg-4 col-md-5 col-xs-8" >
                    <label>Hard Copy Notification</label>
                           </div>
                           <div class="col-lg-8 col-md-7 col-xs-4 pd0prjP" >
                               <label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label> 
                           </div>
                           </div>
                            <div class="row">
                           <div class="col-md-12 col-md-11" >
                           <footer>*you can change the address in personal information for updating contact, past address & email address</footer>
                    </div>
                    </div>
                         
                         <div class="row"> 
                           <div class="col-md-12  title1" >
                             Promotional Material Opt Out
                           </div>
                       </div>
                          
                          <div class="row form">
                           <div class="col-lg-4 col-md-5 col-xs-8 pd0rg" >
                    <label>Opt Out marketing materials</label>
                           
                    </div>
                    <div class="col-lg-8 col-md-7 col-xs-4 pd0prjP" >
                           <label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label> 
                           
                    </div>
                    </div>
                          
                          <div class="row">
                    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-5  col-sm-7 col-sm-offset-4 pd0prjP" > 
                    
                     <button class="orange-btn" ng-click="goToDashboardCongrats()">Update Settings</button>
                       </div>
                    
                    </div>
                    </div>
                    
                    
                    </div>
     </div>
    
         
    </div>
    
</div>
